# only
.next/
node_modules/
.1024.nix
.1024feature-file
.1024feature*
*.dll
.paas-unit-*
.breakpoints
core.*
coverage/
.git/
.DS_Store
Thumbs.db
.nfs*
.pnpm-store/
dist/
.env
env/
venv/
vendor/
cython_debug/
*.log
*.tmp
*.bak
*.old
*.pid
*.seed
*.pid.lock
.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.tsbuildinfo